.ini_ialah_body {

                background-color: yellowgreen;

            }

            .header {

                text-align: center;

                font-size: 50;

                font-style: italic;

            }

            table {

                border-style: dotted;

                border-width: 5;

                width: 80%;

                background-color: whitesmoke;

            }

            .table2 {

                border-width: 2;

                width: 40%;

            }q

            .table2:hover {

                background-color: wheat;

            }

            td {

                border-style: solid;

            }
